@model IEnumerable<string>;

@{
    ViewBag.title = "dependency injection";
}

<ul>
    @foreach (string city in Model)
    {
        <li>@city</li>
    }
</ul>

<ul>
    <li>
        @ViewBag.instanceID1
    </li>

    <li>
        @ViewBag.instanceID2
    </li>

    <li>
        @ViewBag.instanceID3
    </li>
   
</ul>